<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/biz/index.js"></script>
</head>
<body>
<div class="top">

</div>
<div class="content">
    <div class="c-1">
        <a href="/register" id="registerbtn" class="btn1">注册页面管理</a>
    </div>
    <div class="c-1">
         <a href="/register" id="xxxbtn" class="btn1">注册页面管理</a>

    </div>
    <div class="c-1">
        <a href="/register" id="abtn" class="btn1">注册页面管理</a>

    </div>
    <div class="c-1">
        <a href="/register" id="cbtn" class="btn1">注册页面管理</a>

    </div>
    <div class="c-1">
        <a href="/register" id="bbtn" class="btn1">注册页面管理</a>

    </div>
    <div class="c-1">
<!--        <button class="btn1">XX页面管理</button>-->
    </div>

</div>
<div class="footer">

</div>

</body>
</html>